
.main-grid{
    height: 702px; 
    width: 702px; 
    display: grid; 
    grid-template-columns: repeat(1, 702px); 
    grid-template-rows: repeat(31, 20px 2px); 
}

.square-row{
    display: grid; 
    grid-template-columns: repeat(31,20px 2px) 20px;
    grid-gap: 0px;
    height: 20px;
    width: 702px;
}

.thin-row{
    display: grid; 
    grid-template-columns: repeat(32, 20px); 
    grid-gap: 2px; 
    height: 2px;
    width: 702px;
}

.square-button-container{
    display: inline-block; 
    width: 20px; 
    height: 20px; 
}

.square-button {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    width: 20px; 
    height: 20px; 
    border: 0px solid #eae9e9; 
}



.horizontal-button-container, .vertical-button-container {
    display: inline-block; 
    position: relative; 
}

.horizontal-button-container {
    width: 20px; 
    height: 2px;
    padding: 5px 0;
    margin: -5px 0;
}

.vertical-button-container {
    height: 20px; 
    width: 2px;
    padding: 0 5px; 
    margin: 0 -5px;
}



.vertical-thin-button, .horizontal-thin-button {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; 
    box-sizing: border-box; 
    width: 5px; 
    padding: 0; 
    min-width: 0; 
    border-style: hidden;
    transition: all 0.5s ease; 
    transform-origin: center;
}

.horizontal-thin-button {
    height: 2px; 
    width: 20px; 
    
    
}
.vertical-thin-button {
    height: 20px; 
    width: 2px; 
    
}

.horizontal-button-container:hover .horizontal-thin-button{
    height: 7px;
}


.vertical-button-container:hover .vertical-thin-button{

    width: 7px;
} 



#colorButtonsArea {
    position: fixed; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
}



.color-button {
    width: 100px;  
    height: 100px;
    display: block; 
    margin-bottom: 10px;
}

#basicControlButtonsArea {
    position: static; 
    width: 400px; 
    height: 50px; 
    margin-top: 10px;
}

.basic-control-button {
    width: 100px;
    height: 50px;
    background-color: white;
}

#selectButton{
    width: 150px;
    height: 50px; 
    
}

#resetButton{
    width: 100px;
    height: 50px;

}


#selectionModeButtonsArea {
    width: 300px; 
    height: 60px; 
    position: static; 
    left: 0; 
    margin-top: 10px;
}


.selection-mode-button{
    width: 50px; 
    height: 50px; 
    padding: 0; 
    border: none; 
    margin: 5px; 
}



.basic-control-button.selection-mode-button-active{
    background-color: #f00; 
}

.basic-control-button.play-mode-button-active{
    background-color: #0f0; 
}

.darken {
    filter: brightness(50%);
}
