.main-header {
    background-color: #646464;
    color: #fff;
    padding: 1rem;
    height: 10vh;
}

.logo-container{
    padding-left: 1%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    height: 100%;
}

.title-container{
    display: flex;
    align-items: center;
}

.modes-container{
    display: flex;
    align-items: center;
    justify-content: end;
}
                

.logo-image{
    height: 70%;
    cursor: pointer; 
    transition: transform 0.3s; 
}

.logo-image:hover {
    transform: scale(1.1); 
}

@font-face {
    font-family: 'Pixel3D';
    src: url('/src/fonts/3DThirteenPixelFontsRegular-2dPv.ttf') format('truetype');
}

h1{
    font-family: 'Pixel3D';
    font-size: 10vw;
    font-size: clamp(1.5rem, 4vw, 3rem); 
    margin: 0;
}

.mode-title{
    margin-bottom: 0;
}

.written-modes-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end
}

.mode-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu-icon{
    height: 40%;
    
}

.close-icon{
    height: 100%;
    justify-self: right;
}

#writtenModesDropdownContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #646464;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}



.dropdown-header-menu{
    display: none;
    position: absolute;
    /* width: 100vw; */
    height: 35%;
    background-color: #646464;
    z-index: 100;
    align-items: left;
    justify-content: left;
    margin: 0;
}

.mode-icon{
    height: 50%;
    margin: 0 auto;
    cursor: pointer; 
    transition: transform 0.3s; 
    border-radius: 10px; 
    border: 3px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.mode-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    border-radius: 15px; 
}



