body {
    margin: 0; /* Rimuove il margine del body */
}

.main-header {
    background-color: #b3e0ff; /* Colore celeste chiaro */
    height: 130px; /* Altezza dell'header */
    display: flex; /* Permette di allineare verticalmente il contenuto al centro */
    align-items: center; /* Allinea verticalmente il contenuto al centro */
    justify-content: space-between;; /* Allinea orizzontalmente il contenuto al centro */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); /* Aggiunge l'effetto sfumato */
}

.logo-container {
    display: flex; /* Questo assicura che il logo sia centrato verticalmente nel container */
    align-items: center; /* Allinea verticalmente il logo */
    justify-content: flex-start; /* Allinea il logo a sinistra */
    flex: 0 1 auto; /* Imposta la crescita flessibile a 0, la riduzione a 1, e la base flessibile a auto */
}

.header-logo {
    height: 100px;
    margin-left: 30px; /* O un'altra misura di spazio dal bordo sinistro */
    border-radius: 15px;
    filter: drop-shadow(2px 4px 15px rgba(0,0,0,0.5)); /* Aggiungi un'ombreggiatura al logo */
    /* Altre proprietà di styling del logo se necessarie */
}

.game-title-container {
    flex-grow: 1;
    text-align: center; /* Centra il titolo */
    position: absolute; /* Rende il titolo assolutamente posizionato rispetto all'header */
    left: 50%; /* Sposta il titolo al centro dell'header */
    transform: translateX(-100%); /* Sposta il titolo indietro di metà della sua larghezza, centrando esattamente il testo */
}

#gameTitle {
    font-size: 7em; /* Dimensione del titolo */
    font-weight: bold; /* Rendi il testo grassetto */
    background: -webkit-linear-gradient(#b3e0ff, #000); /* Sfumatura dal celeste chiaro a nero */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Rende il colore del testo trasparente, mostrando lo sfondo */
    margin: 0; /* Rimuove il margine di default di h1 */
}

.travel-mode-container {
    display: flex;
    align-items: center;
    margin-left: 60%; /*Aggiunge argine a sinistra*/
    margin-right: auto; /* Aggiunge automaticamente margine a destra per spingere tutto a sinistra */
}

.travel-mode-icon {
    height: 110px; /* Imposta l'altezza dell'icona a 110 pixel */
    width: auto; /* Imposta la larghezza automaticamente per mantenere il rapporto d'aspetto basato sull'altezza */
    border-radius: 10px; /* Arrotonda gli angoli dell'icona con un raggio di 10 pixel */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra sotto l'icona con un effetto di sfocatura leggero */
}

.travel-mode-title {
    margin-left: 25px; /* Imposta la distanza tra l'icona e il testo a 20 pixel */
    font-size: 2.5em; /* Aumenta la dimensione del font del titolo a 2.5em */
    color: #000; /* Imposta il colore del testo a nero */
    font-weight: bold; /* Applica uno stile di testo in grassetto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra al testo per migliorarne la leggibilità e l'aspetto */
}

.main-container{
    height: 100vh; /* Altezza del contenitore principale */
    width: 100vw; /* Larghezza del contenitore principale */
    padding: 3%; /* Aggiunge spazio intorno al contenitore principale */
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    position: relative;
    overflow: hidden;
}

.main-grid{
    width: 100%; /* Larghezza della griglia principale */
    height: 100%; /* Altezza della griglia principale */
    position: relative; /* Posiziona la griglia in modo relativo */
    display: grid; /* Imposta il display a griglia */
    grid-template-columns: repeat(1, 100%); /* Imposta una colonna */
    grid-template-rows: repeat(31, 2.849002849% 0.2849002849%) 2.849002849%; /* Imposta 31 coppie di righe */
    grid-gap: 0px; /* Imposta lo spazio tra le celle a 0 */

}

.square-row{
    display: grid; 
    grid-template-columns: repeat(31, 2.849002849% 0.2849002849%) 2.849002849%;
    grid-gap: 0px;
    height: 100%;
    width: 100%;
}

.thin-row{
    display: grid; 
    grid-template-columns: repeat(32, 2.849002849%); 
    grid-gap: 0.2849002849%;
    height: 100%;
    width: 100%;
}

.square-button-container{
    display: inline-block; /* Permette al contenitore di adattarsi alle dimensioni del bottone */
    width: 100%; /* Larghezza del contenitore */
    height: 100%; /* Altezza del contenitore */
}

.square-button {
    box-sizing: border-box; /* Si assicura che il padding e il bordo non influenzino le dimensioni del bottone */
    margin: 0; /* Rimuove il margine predefinito */
    padding: 0; /* Rimuove il padding predefinito */
    width: 100%; /* Larghezza del pulsante */
    height: 100%; /* Altezza del pulsante */
    border: 0px solid #eae9e9; /* Bordo del bottone */
}

.horizontal-button-container, .vertical-button-container {
    display: inline-block; /* Permette al contenitore di adattarsi alle dimensioni del bottone */
    position: relative; /* Posiziona il contenitore in modo relativo */
}

.horizontal-button-container {
    width: 100%; /* Larghezza del contenitore orizzontale */
    height: 100%; /* Altezza del contenitore orizzontale */;
    padding: 5px 0; /* Aumenta l'area cliccabile */
    margin: -5px 0; /* Compensa lo spazio extra occupato dal padding */
}

.vertical-button-container {
    height: 100%px; /* Altezza del contenitore verticale */
    width: 100%px; /* Larghezza del contenitore verticale */
    padding: 0 5px; /* Aumenta l'area cliccabile */
    margin: 0 -5px; /* Compensa lo spazio extra occupato dal padding */
}

.vertical-thin-button, .horizontal-thin-button {
    position: absolute; /* Posiziona i bottoni in modo assoluto */
    top: 50%; /* Posiziona i bottoni al centro verticalmente nel contenitore */
    left: 50%; /* Posiziona i bottoni al centro orizzontalmente nel contenitore */
    transform: translate(-50%, -50%); /* Centra i bottoni nel contenitore */
    margin: 0; /* Rimuove il margine predefinito */
    box-sizing: border-box; /* Si assicura che il padding e il bordo non influenzino le dimensioni del bottone */
    padding: 0; /* Rimuove il padding predefinito */
    min-width: 0; /* Rimuove la larghezza minima predefinita */
    border-style: hidden; /* Nasconde i bordi */
    transition: all 0.5s ease; /* Specifica la durata dell'animazione */
    transform-origin: center; /* Si assicura che l'animazione non influenzi la disposizione degli altri elementi */
}

.horizontal-thin-button {
    height: 0.2849002849%; /* O qualsiasi altezza desideri per i tuoi bottoni sottili */
    width: 2.849002849%; /* O qualsiasi larghezza desideri per i tuoi bottoni sottili */
    
    
}

.vertical-thin-button {
    height: 2.849002849%; /* O qualsiasi altezza desideri per i tuoi bottoni sottili */
    width: 0.2849002849%; /* O qualsiasi larghezza desideri per i tuoi bottoni sottili */
    
}

.horizontal-button-container:hover .horizontal-thin-button{
    height: 7px;
}

.vertical-button-container:hover .vertical-thin-button{

    width: 7px;
} 

#colorButtonsArea {
    position: fixed; /* Posiziona il contenitore dei bottoni in modo fisso */
    right: 0; /* Posizionalo a destra della pagina */
    top: 50%; /* Posizionalo al centro verticalmente */
    transform: translateY(-50%); /* Centra verticalmente */
}

.color-button {
    width: 100px;  /* Imposta la larghezza del bottone */
    height: 100px; /* Imposta l'altezza del bottone */
    display: block; /* Fai in modo che ogni bottone occupi una riga intera */
    margin-bottom: 10px; /* Aggiungi un po' di spazio tra i bottoni */
}

#basicControlButtonsArea {
    position: static; /* Posiziona il contenitore dei bottoni in modo statico */
    width: 400px; /* Imposta la larghezza del contenitore */
    height: 50px; /* Imposta l'altezza del contenitore */
    margin-top: 10px;
}

.basic-control-button {
    width: 100px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */
    background-color: white;
}

#selectButton{
    width: 150px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */
    
}

#resetButton{
    width: 100px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */

}

#selectionModeButtonsArea {
    width: 300px; /* Imposta la larghezza del contenitore dei bottoni */
    height: 60px; /* Imposta l'altezza del contenitore dei bottoni */
    position: static; /* Posiziona il contenitore dei bottoni in modo statico */
    left: 0; /* Posizionalo a sinistra della pagina */
    margin-top: 10px; /* Aggiungi un po' di spazio sopra i bottoni */
}

.selection-mode-button{
    width: 50px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */
    padding: 0; /* Rimuovi il padding predefinito */
    border: none; /* Rimuovi i bordi predefiniti */
    margin: 5px; /* Aggiungi un margine */
}


.basic-control-button.selection-mode-button-active{
    background-color: #f00; /* Cambia il colore di sfondo in rosso */
}

.basic-control-button.play-mode-button-active{
    background-color: #0f0; /* Cambia il colore di sfondo in verde */
}

.control-container{
    background-color: gray;
    display: grid;
    height: 100%;
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    grid-template-rows: 60% 40%;
}

.reference-image-container{
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-container{
    height: 100%;
    width: 100%;
    background-color: purple;
    
}

.reference-image{
    width: 60%;
    aspect-ratio: 1/1;
    
}