

@import url('https://fonts.googleapis.com/css?family=VT323');
  
body{
    font-family: 'VT323', monospace !important;
    background-image: url('/viaggio/images/back_nation.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}


.page-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    height: 89vh; 
    width: 99vw;
    margin: 11vh auto auto auto; 
    padding: 10px;
    grid-template-areas: "left right";
    gap: 5%;
}



.right-box-container, .left-box-container {
    display: flex;
    object-fit: contain;
    position: relative;

}

.left-box-container {
    position: fixed;
    grid-area: left; 
    justify-content: center;
    align-items: center;
    height: 90%;
    
}

#left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-box-container {
    grid-area: right; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}



.grid-item-img {
    object-fit: contain; 
    width: 55%; 
    height: 55%;
}



.box-text{
    text-align: center;
    font-size: 9vh;
    font-family: 'VT323'; 
   
    font-weight: bold; 
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5); 
    
    background: rgb(230, 20, 240);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -ms-background-clip: text;
    background-clip: text; 
    color: transparent; 
}




.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    border: 8px solid palevioletred;
    background-color: white;
    padding: 10px;
  
}



.map-country {
    width: 100%; 
    height: 100%; 
    display: block; 
}

.level-icon {
    position: absolute;
    width: 3%; 
    cursor: pointer; 
    transition: transform 0.3s, filter 0.3s; 
    z-index: 2; 
}

/* Puoi aggiungere pseudo-classi per le interazioni, come un leggero ingrandimento al passaggio del mouse */
.level-icon:hover {
    transform: scale(1.5);
}

.aeroplanino-icon{
    position: absolute;
    width: 11%;
    z-index: 1;
}

/*La funzione per l'esplosione di colori a seguito di completamento di un livello*/
.color-line {
    position: absolute; 
    width: 0.3%;
    height: 1%; 
    background-color: red; 
    opacity: 1; 
    transition: top 4s linear, opacity 4s ease-out;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%; 
    transform: rotate(180deg); 
    pointer-events: none;
    z-index: 3; 
}

.not-unlocked-message {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 20% 10%;
    padding-top: 35%;
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(7px);
    transform: translate(-50%, -50%);
    font-size: 4vw; 
    font-family: "VT323", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    z-index: 5;
}
