

@import url('https://fonts.googleapis.com/css?family=VT323');
  
body{
    font-family: 'VT323', monospace !important;
    background-image: url('/viaggio/images/sky.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}


.page-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 20px;
    height: 89vh; 
    width: 89vw;
    margin: 11vh auto auto auto; 
    padding: 10px;
    grid-template-areas: "left right";
}



.right-box-container, .left-box-container {
    display: flex;
    object-fit: contain;
    position: relative;

}

.left-box-container {
    position: fixed;
    grid-area: left; 
    justify-content: center;
    align-items: center;
    height: 90%;
}

#left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-box-container {
    grid-area: right; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}



.grid-item-img {
    object-fit: contain; /* Mantiene le proporzioni dell'immagine mentre si adatta al contenitore */
    width: 55%; /* Imposta la larghezza dell'immagine a auto */
    height: 55%; /* Imposta l'altezza dell'immagine a auto */
}



@media (max-width: 900px) {
    #left-box {
        display: none; /* Nasconde il contenitore sinistro */
    }
    .right-box-container {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        overflow: hidden;
    }
    .map-container {
        width: 100%;
    }
    .page-container{
        gap: 0px;
        overflow: hidden;
        width: 100vw;
    }

}


.box-text{
    text-align: center;
    font-size: 10vh;
    font-family: 'VT323'; /* Modifica con il tuo font */
    /*color: white; /* Testo bianco */
    font-weight: bold; /* Testo grassetto */
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5); /* Aggiungi un'ombra al testo per dare un effetto 3D */
    /*text-shadow: 2px 2px 2px black; /* Bordo nero intorno al testo */
    background: rgb(230, 20, 240);
    -webkit-background-clip: text; /* Applica lo sfondo al testo */
    -moz-background-clip: text; /* Aggiungi questa linea */
    -ms-background-clip: text; /* Aggiungi questa linea */
    background-clip: text; /* Define the standard property 'background-clip' for compatibility */
    color: transparent; /* Rende il colore del testo trasparente per mostrare lo sfondo */
}




.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    border: 5px solid black;
    background-color: white;
    padding: 10px;
  
}

/*   CODICE FRA per cornici
.map-container::before,
.map-container::after {
  content: "";
  position: absolute;
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  border: 5px solid black;

}

.map-container::before {
  left: -9px;
  top: 0;
  width: calc(100% + 18px);
  height: 100%;
  border: 5px solid black;
}

.map-container::after {
  top: -9px;
  left: 0px;
  height: calc(100% + 18px);
  width: 100%;
}
*/

.map-country {
    width: 100%;  /* L'immagine coprirà la larghezza del contenitore */
    height: 100%; /* L'altezza si adatterà automaticamente mantenendo le proporzioni dell'immagine */
    display: block; /* Rimuove eventuali spazi extra sotto l'immagine */
}

.level-icon {
    position: absolute;
    width: 3%; /* Regola la dimensione delle icone in base alle tue esigenze */
    cursor: pointer; /* Cambia il cursore quando l'utente passa sopra l'icona */
    transition: transform 0.3s, filter 0.3s; /* Aggiunge una transizione per il feedback visivo */
    z-index: 2; /* Assicura che l'icona sia sopra agli altri elementi */
}

/* Puoi aggiungere pseudo-classi per le interazioni, come un leggero ingrandimento al passaggio del mouse */
.level-icon:hover {
    transform: scale(1.5);
}

.aeroplanino-icon{
    position: absolute;
    width: 11%;
    z-index: 1;
}

/*La funzione per l'esplosione di colori a seguito di completamento di un livello*/
.color-line {
    position: absolute; /* Posiziona ogni goccia in modo assoluto rispetto al suo contenitore */
    width: 0.3%; /* Larghezza della goccia */
    height: 1%; /* Altezza della goccia per una forma più allungata */
    background-color: red; /* Colore iniziale della goccia, poi sovrascritto dinamicamente */
    opacity: 1; /* Imposta l'opacità iniziale a piena per visibilità massima */
    transition: top 4s linear, opacity 4s ease-out; /* Transizione fluida per movimento e dissolvenza */
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%; /* Crea una forma di goccia arrotondata */
    transform: rotate(180deg); /* Ruota la goccia per avere la punta verso il basso, simula la caduta */
    pointer-events: none; /* Evita che le gocce interferiscano con l'interazione dell'utente */
    z-index: 3; /* Assicura che le gocce siano visualizzate sopra altri elementi */
}

.not-unlocked-message {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 20% 10%;
    padding-top: 35%;
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(7px);
    transform: translate(-50%, -50%);
    font-size: 4vw; /* Rendere il testo più grande */
    font-family: "VT323", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    z-index: 5;
}
