.page-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nations-container{
    width: 95%;
    height: 100vh;
} 

.card-title {
    white-space: nowrap;
}

