footer{
    background-color: rgb(230, 20, 240);
    background: linear-gradient(to bottom,rgba(230, 20, 240, 0.6), rgb(192, 98, 197) );
    background: linear-gradient(to bottom, rgb(192, 98, 197) , rgba(230, 20, 240, 0.6));
    color: white;
    text-align: center;
    bottom: 0;
    height: 40vh;
    width: 100vw;
    margin-top: auto;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2.5vw;
    margin-right: 4vw;
    height: 10vh;
    font-size: 4vh;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@media (max-width: 500px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }
    footer {
        height: 80vh !important;
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.column-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-content {
    text-align: left;
    font-size: 2.5vh;
}

.column-title {
    font-size: 5vh;
}

@media (orientation: portrait) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }
    footer {
        height: 80vh !important;
    }
}
