@import url('https://fonts.googleapis.com/css?family=VT323');

body{
    font-family: 'VT323', monospace !important;
}

header{
    width: 100%;
    height: 10vh;
    padding-left: 0;
    padding-right: 0;
    background-color:  rgb(230, 20, 240);
    top: 0;
    z-index: 99;
}

.semi-transparent {
    /* background-color: rgba(100, 100, 100, 0.9); */
    background: linear-gradient(to bottom, rgba(230, 20, 240, 1), rgba(230, 20, 240, 0.6));
}

.page-content-container {
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    
}

.main-header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
}



/* @media (max-width: 1100px) {
    .main-header {
        grid-template-columns: 1fr 3fr 7fr;
    }
} */

@media (max-width: 1100px){
    .main-header{
        grid-template-columns: 1fr 7fr 3fr;
    }
   
}

@media (max-width: 800px){
    .main-header{
        grid-template-columns: 2fr 7fr 3fr;
    }
   
}

@media (max-width: 500px){
    .main-header{
        grid-template-columns: 2fr 9fr 2fr;
    }
   
}


.main-header .title {
    font-family: 'mariokart';
    font-size: 7vh;
    color: #eee;
    /* font-size: clamp(1.5rem, 4vw, 3rem);  */
    margin: 0;
}




.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title-container{
    display: flex;
    align-items: center;
}

.modes-container{
    display: flex;
    align-items: center;
    
}
                

.logo-image{
    height: 50px;
    width: 50px;
    object-fit: contain;
    cursor: pointer; 
    transition: transform 0.3s;
     
}

@media (max-height: 600px){
    .logo-image{
        height: 40px;
        width: 40px;
    }
}

@media (max-height: 500px){
    .logo-image{
        height: 35px;
        width: 35px;
    }
}

@media (max-height: 400px){
    .logo-image{
        height: 30px;
        width: 30px;
    }
}




.logo-image:hover {
    transform: scale(1.1); 
}

@font-face {
    font-family: 'mariokart';
    src: url('/fonts/Mario-Kart-DS.ttf');
}

@font-face {
    font-family: 'Pixel3D';
    src: url('fonts/3DThirteenPixelFontsRegular-2dPv.ttf') format('truetype');
}


p{
    color:#eee;
}

.mode-title{
    margin-bottom: 0;
}

@media (max-width: 1100px) {
    .mode-title {
        font-size: 4vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
}

@media (max-width: 600px){
    .title{
        font-size: 6vh !important;
    }
}

.written-modes-container{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    margin-left: auto;
    margin-right: 5vw;
}

.mode-title-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon-menu-container{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
}

@media (max-width: 1100px){
    .icon-menu-container{
        display: flex;
    }
    .written-modes-container{
        display: none;
    }
    .dropdown-header-menu{
        display: none;
    }
    #dropdown-text{
        display: none;
    }
}

.menu-icon {
    cursor: pointer;
    margin-right: 2vw;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-icon div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.written-modes-dropdown-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 20, 240);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    z-index: 100;
}



@keyframes scaleUp {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    100% {
        transform: scaleY(1);
        transform-origin: top;
    }
}

@keyframes scaleDown {
    0% {
        transform: scaleY(1);
        transform-origin: top;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
    }
}

.dropdown-header-menu.closing {
    animation: scaleDown 0.5s;
}

.dropdown-header-menu{
    backface-visibility: hidden;
    transform: translateZ(0);
    display: none;
    position: fixed;
    width: 100%; 
    height: 28vh;
    background-color:rgb(230, 20, 240);
    z-index: 100;
    align-items: left;
    justify-content: left;
    margin: 0;
    animation: scaleUp 0.5s;
    padding-top: 0;
    will-change: transform;
}

.mode-icon{
    height: 50%;
    margin: 0 auto;
    cursor: pointer; 
    transition: transform 0.3s; 
    border-radius: 10px; 
    border: 3px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.mode-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    border-radius: 15px; 
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

#writtenModesDropdownContainer {
    display: none;
    text-align: left;
    transform-origin: top;
}

#menuIcon {
    z-index: 1000;
    position: relative;
}

.menu-icon.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-icon.change .bar2 {
    opacity: 0;
}

.menu-icon.change .bar3 {
    transform: rotate(45deg) translate(-9px, -6px);
}

.menu-container-open {
    display: block !important;
    animation: expand 0.5s forwards;
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.menu-container-closing {
    animation: collapse 0.5s forwards;
}

@keyframes collapse {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.mode-title.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#writtenModesDropdownContainer .text-wrapper {
    padding-top: 10vh;
}

.text-wrapper a {
    text-decoration: none; 
    color: inherit; 
}

.login-button {
    background-color: white;
    color: rgb(230, 20, 240);
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.temporary-div{
    display: block;
}

#dropdown-text .column {
    width: 10%; 
    text-align: left;
    margin-right: 5vw;
}

#dropdown-text p {
    font-size: 3vh;
    margin: 0;
}

a {
    text-decoration: none; 
    color: white; 
}

a:hover {
    text-decoration: none; 
}
