
@import url('https://fonts.googleapis.com/css?family=VT323');
  
body{
    font-family: 'VT323', monospace !important;
}


.main{
    display: flex;;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
} 

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#mainMenuButton{
    cursor: pointer;
    background-color: black;
    border-color: red;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    height: 40px;
}

#logoutButton {
    /* position: absolute;
    right: 0; */
    cursor: pointer;
    background-color: black;
    border-color: red;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    height: 40px;
}

#logoutButton,#logoutButton::before,#logoutButton::after, #mainMenuButton,#mainMenuButton::before,#mainMenuButton::after {
    background-color: darkslategray;
}

@media (max-width: 765px) {
    .buttons-container {
        flex-direction: column;
        align-items: flex-end;
    }
    #logoutButton {
        margin: 0;
        height: 35px;
    }
    #mainMenuButton {
        margin: 0;
        height: 35px;
    }
}

@media (max-width: 575px) {
    .buttons-container {
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        gap: 45px
    }
    .profile-info {
        align-items: center;
    }
    .profile-image {
        margin-right: 0;
    }
}

.profile-name {
    font-size: 35px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    hyphens: auto; 
    color: darkslategray;
}


.profile-description {
    font-size: 14px;
    color: #666;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    hyphens: auto; 
    color: black;
}



.sidebar {
    padding-top: 20px;
    background-color: plum; 
    min-height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #e0e0e0; 
}

.content {
    position: relative;
    background-color: #e0e0e0;
}



/* CSS per schermi di larghezza superiore a 700px */
@media (min-width: 700px) {
    .sidebar {
        width: 200px;
        position: relative;
    }
    .back-button {
        display: none;
    }
    
}

/* CSS per schermi di larghezza inferiore a 700px */
@media (max-width: 699px) {
    .sidebar, .content {
        width: 100%;
    }
    .content{
        min-height: 100vh;
    }
    .sidebar{
        position: absolute;
    }
    .back-button {
        display: block;
    }
}


.header {
    width: 100%;
    padding: 20px;
    
    background: linear-gradient(
    to bottom,
    rgba(255, 20, 147, 0.5) 0%, rgba(255, 20, 147, 0.5) 20%,
    rgba(255, 105, 180, 0.5) 20%, rgba(255, 105, 180, 0.5) 40%,
    rgba(219, 112, 147, 0.5) 40%, rgba(219, 112, 147, 0.5) 60%,
    rgba(173, 255, 47, 0.5) 60%, rgba(173, 255, 47, 0.5) 80%,
    rgba(50, 205, 50, 0.5) 80%, rgba(50, 205, 50, 0.5) 100%
);



}


.menu-icon {
    size: 24px;
}

@media (max-width: 275px) {
    .menu-icon, .logout-icon {
        display: none;
    }
}

.content{
    flex-grow: 1;
    display: none;
}

.profile-image-settings {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/profilo/profileImagePlaceholder.png');
}

.profile-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 95px;
    border: 3px solid darkslategray;
    padding: 0;

}

.profile-image-container::before,
.profile-image-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid darkslategray;
}

.profile-image-container::before {
  left: -5px;
  top: -1px;
  width: calc(100% + 10px);
  height: calc(100% + 2px);
}

.profile-image-container::after {
  top: -5px;
  left: -1px;
  height: calc(100% + 10px);
  width: calc(100% + 2px);
}

.profile-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}

.settings-form, .section-title, .stat-element {
    margin-left: 20px;
}

.stat-element{
    margin-top: 30px;
}

.section-title{
    margin-top: 20px;
}

.back-button {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.descrizione-larghezza {
    max-width: 500px; 
}

.username-larghezza{
    max-width: 500px; 
}

.old-password-larghezza{
    max-width: 500px; 
}

.new-password-larghezza{
    max-width: 500px; 
}

.password-larghezza{
    max-width: 500px; 
}

.email-larghezza{
    max-width: 500px; 
}



#logout-button:hover {
    background-color: #ab4c19;
}

#logoutButtonText{
    color: red;
}

#mainMenuButtonText{ 
    color: lime;
}


#changeUsernameButton {
    width: 200px;
    background: gold;
}

#changeUsernameButton::after, #changeUsernameButton::before {
    background: gold;
}

#changePasswordButton {
    width: 200px;
    background: gold;
}

#changePasswordButton::after, #changePasswordButton::before {
    background: gold;
}

#changeEmailButton {
    width: 200px;
    background: gold;
}

#changeEmailButton::after, #changeEmailButton::before {
    background: gold;
    background: gold;
}

/* #profileImagePixeledContainerOuter {
    border: 3px solid black;
    width: 80px;
    height: 80px;
}

#profileImagePixeledContainerMiddle {
    border: 3px solid black;
    width: calc(100% + 10px);
    left: -5px;
    top: 0px;
}

#profileImagePixeledContainerInner {
    border: 3px solid black;
    height: calc(100% + 10px);
    width: 100%;
    top: -5px;
    left: 0px;
} */