
.main{
    display: flex;;
}

.profile-name {
    font-size: 24px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    hyphens: auto; 
}
.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px; 
}

.profile-description {
    font-size: 14px;
    color: #666;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    hyphens: auto; 
}

.sidebar {
    padding-top: 20px;
    background-color: #f5f5f5; 
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #e0e0e0; 
}

.content {
    position: relative;
}



/* CSS per schermi di larghezza superiore a 700px */
@media (min-width: 700px) {
    .sidebar {
        width: 200px;
        position: relative;
    }
    
}

/* CSS per schermi di larghezza inferiore a 700px */
@media (max-width: 699px) {
    .sidebar, .content {
        width: 100%;
    }
    .sidebar{
        position: absolute;
    }
}



/* CSS per schermi di larghezza superiore a 300px */
@media (min-width: 400px) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 150px;
        background-color: #f0f0f0;
        padding: 20px;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* CSS per schermi di larghezza inferiore a 300px */
@media (max-width: 399px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #f0f0f0;
        padding: 20px;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menu-icon {
    size: 24px;
}

.content{
    flex-grow: 1;
    display: none;
}

.profile-image-settings {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/profilo/profileImagePlaceholder.png');
}

.profile-image-container {
    position: relative;
    display: inline-block;
    width: 100px; 
    height: 100px; 
}

.profile-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    /* clip-path: url('/profilo/icons/semicricle.svg#semicircle'); */
}

.settings-form, .section-title, .stat-element {
    margin-left: 20px;
}

.stat-element{
    margin-top: 30px;
}

.section-title{
    margin-top: 20px;
}

.back-button {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.descrizione-larghezza {
    max-width: 500px; 
}

.username-larghezza{
    max-width: 500px; 
}

.old-password-larghezza{
    max-width: 500px; 
}

.new-password-larghezza{
    max-width: 500px; 
}
