
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #646464 !important;
}

.main-container{
   height: 50% !important;

}

.goback-icon {
    height: 8%;
    width: 8%;
    transition: transform 0.3s ease-in-out;
}

.goback-icon:hover {
    transform: scale(1.1);
}
